.panel-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text */
    width: 100%;
}

.panel-image {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.6;
}

.panel-text {
    margin-top: 20px; /* Add some space between image and text */
    color: #393e44;;
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
}
